





#forecast {
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
};



/* .future-cards {
 
    background-color: rgba(91, 91, 207, 0.555);
    border-radius: 7px;

} ; */