

body {
    background-color: rgba(137, 173, 253, 0.712) !important;
}; 


#today {

    border-color: rgba(137, 173, 253, 0.712) !important;
    border-width: 2px;
    border-radius: 7px;
}

#forecast {
 
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;

    border-radius: 7px;
};



